/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  margin: 0 auto;
}

.formInput {
  width: 250px;
  height: 34px;
  padding: 2px 10px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 8px;
}

.formBtn {
  background-color: #4E75FF; 
  border-radius: 8px;
  width: 91px;
  height: 40px;
  border: none;
  color: rgb(255, 255, 255);

}